# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
venv/
env/
.venv/

# Jupyter
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Power BI temp files
*.pbix.tmp
~$*

# Misc
*.log
.env
